<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    	{% block layout_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block layout_title %}GDG Guadalajara Demos{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		{% endblock %}
		
		{% block layout_scripts_styles %}
	        <link rel="stylesheet" href="/js/initializr/css/bootstrap.min.css">
	        <style>
	            body {
	                padding-top: 60px;
	                padding-bottom: 40px;
	            }
	        </style>
	        <link rel="stylesheet" href="/js/initializr/css/bootstrap-responsive.min.css">
	        <link rel="stylesheet" href="/js/initializr/css/main.css">
			<script src="/js/initializr/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
			<script src="/js/jquery-1.9.1.min.js"></script>
			<script src="/js/initializr/js/vendor/bootstrap.min.js"></script>
			<script src="/js/common.js"></script>
			
			{% if 'syntax_highlighter' in context_scripts %}
				<link rel="stylesheet" href="/js/syntax_highlighter/styles/shCore.css">
				<link rel="stylesheet" href="/js/syntax_highlighter/styles/shThemeDefault.css">
				<script src="/js/syntax_highlighter/scripts/shCore.js"></script>
				<script src="/js/syntax_highlighter/scripts/shAutoloader.js"></script>
				<script src="/js/syntax_highlighter_init.js"></script>
			{% endif %}	
			
			{% if 'tabs' in context_scripts %}
				<script src="/js/tabs_init.js"></script>
			{% endif %}	
			
			{% block layout_script_google_maps %}{% endblock %}
		{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#"><img src="/images/header.png" style="height:25px"/></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                	<li class="divider"></li>
                                    <li class="nav-header">Básicos</li>
                                    <li><a href="/maps/creacion">Crear mapa</a></li>
                                    <li><a href="/maps/geocode">Geocode</a></li>
                                    <li><a href="/maps/marker">Marker</a></li>
                                    <li><a href="/maps/polyline">Polyline</a></li>
                                    <li><a href="/maps/polygon">Polygon</a></li>
                                    <li><a href="/maps/eventos">Eventos</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fusion tables<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                	<li class="divider"></li>
                                    <li class="nav-header">Básicos</li>
                                    <li><a href="/fusion_tables/mapa">Mapa</a></li>
                                    <li><a href="/fusion_tables/filtros">Filtros</a></li>
                                    <li><a href="/fusion_tables/local_storage">Localstorage</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Code samples<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/code_samples/Maps_FusionTables.zip">Maps / Fusion Tables</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
			{% block layout_content %}	
			{% endblock %}            
	            <hr>

            <footer>
                <p>&copy; GDG Guadalajara 2013</p>
            </footer>

        </div> <!-- /container -->

        

        <script src="/js/initializr/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
