<html>
	<head>
		<title>CRUD usuarios</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	</head>
	<body>
		<img src="/img/header.png" />
		<br /><br />
		<form method="post" action="/add">
			<label>Nombre: </label><input type="text" name="nombre" /><br />
			<label>Apellido paterno: </label><input type="text" name="apellido_paterno" /><br />
			<label>Apellido materno: </label><input type="text" name="apellido_materno" /><br />
			<label>Edad: </label><input type="text" name="edad" /><br /><br />
			<input type="submit" value="Enviar" />
		</form>
	</body>
</html>