{% extends "templates/layouts/base_fusion_tables.html" %}
{% block layout_title %}Fusion Tables: Mapa{% endblock %}
{% block layout_scripts_styles %}
	{{ super() }}
	<script type="text/javascript">
		var map;
	    var layerl0;
	    $(document).ready(function() {
	      map = new google.maps.Map(document.getElementById('map_canvas'), {
	        center: new google.maps.LatLng(40.45400011847509, -95.22154437499995),
	        zoom: 4,
	        mapTypeId: google.maps.MapTypeId.ROADMAP
	      });
	      layerl0 = new google.maps.FusionTablesLayer({
	        query: {
	          select: "col3",
	          from: "1kVOPlx93o72BnEbMy3ZTFjaBzU-HDuSQ9ikasR0"
	        },
	        map: map,
	        styleId: 2,
	        templateId: 2
	      });
	    });
	</script>    
{% endblock %}
{% block layout_content %}
	<h2>Fusion Tables / Mapa</h2>
	<div class="container">
		<div class="tabbable">
		  	<ul id="myTab" class="nav nav-tabs">
		  		<li><a href="#demo" data-toggle="tab" id="demoTab">Demo</a></li>
		  		<li><a href="#descripcion" data-toggle="tab">Descripción</a></li>
			    <li><a href="#codigo" data-toggle="tab">Código</a></li>
		    </ul>
	  		<div class="tab-content" id="myTabContent">
	  			 <div id="descripcion" class="tab-pane">
	  			 	<h4>Para obtener el código HTML / Javascript se necesita:</h4>
	  			 	<ul>
	  			 		<li>Seleccionar la opción "Publish" en la pestaña del mapa.</li>
	  			 		<li>Dar click en "Get HTML and JavaScript" para mostrar el código.</li>
	  			 		<li>Crear una página HTML con el código generado.</li>
	  			 	</ul>
				</div>
				<div id="demo" class="tab-pane">
		    		<div id="map_canvas"> </div>
		        </div>
		        <div id="codigo" class="tab-pane">
					<pre class="brush: js">
&lt;script src="https://maps.googleapis.com/maps/api/js?sensor=false"&gt;&lt;/script&gt;
&lt;script&gt;
var map;
var layerl0;
function initialize() {
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: new google.maps.LatLng(40.45400011847509, -95.22154437499995),
    zoom: 4,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  layerl0 = new google.maps.FusionTablesLayer({
    query: {
      select: "col3",
      from: "1kVOPlx93o72BnEbMy3ZTFjaBzU-HDuSQ9ikasR0"
    },
    map: map,
    styleId: 2,
    templateId: 2
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
&lt;/script&gt;
					</pre>
				</div>
			</div>
		</div>
	</div>    		
{% endblock %}