<html>
    <head>
        <title>Filtros</title>
        <style type="text/css">
            table tr th, table tr td { border: 1px solid black; padding: 0 5px; }
        </style>
    </head>
    <body>
        <h4>Filtros</h4>
        <p>Seleccione un filtro, escriba su valor y presione enviar.</p>
        <form method="get" action="/">
            <table>
                <tr>
                    <td><input type="radio" name="radio" value="nombre" {% if radio == "nombre" %}checked="checked"{% endif %}>Nombre</td>
                    <td><input type="radio" name="radio" value="stock" {% if radio == "stock" %}checked="checked"{% endif %}>Stock</td>
                    <td><input type="radio" name="radio" value="expiracion" {% if radio == "expiracion" %}checked="checked"{% endif %}>Expiración</td>
                    <td><input type="radio" name="radio" value="precio" {% if radio == "precio" %}checked="checked"{% endif %}>Precio</td>
                    <td>Acciones</td>
                </tr>
                <tr>
                    <td><input type="text" name="nombre" value="{{ nombre }}" placeholder="Ej: Producto 2"/></td>
                    <td>
                        <select name="stock_op" value="{{ stock_op }}">
                            <option value="">-</option>
                            <option value=">" {% if stock_op == ">" %}selected="selected"{% endif %}>&gt;</option>
                            <option value="=" {% if stock_op == "=" %}selected="selected"{% endif %}>=</option>
                            <option value="<" {% if stock_op == "<" %}selected="selected"{% endif %}>&lt;</option>
                        </select>
                        <input type="text" name="stock" value="{{ stock }}"/>
                    </td>
                    <td>
                         <select name="expiracion_op" value="{{ expiracion_op }}">
                            <option value="">-</option>
                            <option value=">" {% if expiracion_op == ">" %}selected="selected"{% endif %}>&gt;</option>
                            <option value="=" {% if expiracion_op == "=" %}selected="selected"{% endif %}>=</option>
                            <option value="<" {% if expiracion_op == "<" %}selected="selected"{% endif %}>&lt;</option>
                        </select>
                        <input type="text" name="expiracion" value="{{ expiracion }}"/>
                    </td>
                    <td>
                        <select name="precio_op" value="{{ precio_op }}">
                            <option value="">-</option>
                            <option value=">" {% if precio_op == ">" %}selected="selected"{% endif %}>&gt;</option>
                            <option value="=" {% if precio_op == "=" %}selected="selected"{% endif %}>=</option>
                            <option value="<" {% if precio_op == "<" %}selected="selected"{% endif %}>&lt;</option>
                        </select>
                        <input type="text" name="precio" value="{{ precio }}"/>
                    </td>
                    <td>
                        <input type="submit" value="Enviar" />
                    </td>
                </tr>
            </table>
        </form>
        <h4>Productos</h4>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Expiración</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>{{ producto.expiracion }}</td>
                        <td>{{ producto.precio }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        Query generada: <br />
        <textarea cols="30" rows="5">{{ query }}</textarea>
    </body>
</html>