<html>
<head>
<title>Reloj</title>
</head>
<body>
{% if user %}
	<p>
		Bienvenido, {{ user.email() }}!
		<a href="{{ logout_url }}">Desconectar</a>.
	</p>
{% else %}
	<p>
		Bienvenido!
		<a href="{{ login_url }}">Iniciar sesión o registrar</a> para cambiar preferencias.
	</p>
{% endif %}
{% if user %}
Te gusta que te digan {{ userprefs.nickname }}
<form action="/prefs" method="post">
	<label for="nickname">
		¿Cómo prefieres que te digan?:
	</label>
	<input name="nickname" id="nickname" type="text" size="4" value="{{  userprefs.nickname }}" />
	<input type="submit" value="Set" />
</form>
{% endif %}
<img src="images/mona_lisa.jpg" style="width:200px;"/>
</body>
</html>
