body {
    font-family: Arial, Helvetica, sans-serif;
}


table {
    width:100%;
}

table thead tr th {
    background-color: #0000FF;
    color: #FFFFFF;
}

table tbody tr td {
    background-color: #BBBBBB;
    color: #000000;
}

.link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    width:75px;
    display: block;
    float:left;
    margin: 0 5px;
    text-align: center;
}

form label {
    width:150px;
    display:block;
    float:left;
}

form input {
    width: 250px;
}

.click {
    font-size: 24px;
    color: #111111;
}
