<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% if user %}
            <p>Bienvenido {{ user.email() }} <a href="{{ logout_url}}">Desconectar</a></p>
        {% else %}
            <p><a href="{{ login_url }}">Iniciar sesión</a></p>
        {% endif %}
        <p>La <a href="/secret">página secreta</a> solo se puede acceder si has iniciado sesión</p>
        <p>La <a href="/admin">página secreta admin</a> solo se puede acceder si has iniciado sesión como administrador</p>
    </body>
</html>