{% extends "templates/layouts/base_maps.html" %}
{% block layout_title %}Google Maps Javascript API v3: Creación de mapa{% endblock %}
{% block layout_content %}
	<h2>Google Maps / Crear mapa</h2>
	<div class="container">
		<div class="tabbable">
		  	<ul id="myTab" class="nav nav-tabs">
		  		<li><a href="#demo" data-toggle="tab" id="demoTab">Demo</a></li>
		  		<li><a href="#descripcion" data-toggle="tab">Descripción</a></li>
			    <li><a href="#codigo" data-toggle="tab">Código</a></li>
		    </ul>
	  		<div class="tab-content" id="myTabContent">
	  			 <div id="descripcion" class="tab-pane">
	  			 	<h4>Para crear un mapa se necesita:</h4>
	  			 	<ul>
	  			 		<li>Cargar el javascript de maps.</li>
	  			 		<li>Crear el mapa en un elemento de la página, indicando las opciones que contendrá el mapa.</li>
	  			 	</ul>
	  			 	<h4>Links</h4>
	  			 	<p><a href="https://developers.google.com/maps/documentation/javascript/reference#Map" target="_blank">Map</a></p>
	  			 	<p><a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Map Options</a></p>
				</div>
				<div id="demo" class="tab-pane">
		    		<div id="map_canvas"> </div>
		        </div>
		        <div id="codigo" class="tab-pane">
					<pre class="brush: js">
&lt;script src="https://maps.googleapis.com/maps/api/js?sensor=false"&gt;&lt;/script&gt;
&lt;script&gt;
var map; 
function initialize() {
	//opciones del mapa
	var mapOptions = {
		zoom: 14,
		center: new google.maps.LatLng(20.674346933909842,-103.38696956634521),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	//creacion de mapa en el elemento html con las opciones del mapa
	map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
}
	
//mostrar mapa al cargar la página 
google.maps.event.addDomListener(window, 'load', initialize);
&lt;/script&gt;
					</pre>
				</div>
			</div>
		</div>
	</div>  		    		
{% endblock %}