{% extends "templates/layouts/base_maps.html" %}
{% block layout_title %}Google Maps Javascript API v3: Geocode con Marker simple{% endblock %}
{% block layout_scripts_styles %}
	{{ super() }}
	<script type="text/javascript">
		var geocoder;
		
		function geocodeAddress() {
			var address = document.getElementById("address").value;
			geocoder.geocode( { 'address': address}, function(results, status) {
      			if (status == google.maps.GeocoderStatus.OK) {
        			map.setCenter(results[0].geometry.location);
        				        				        				        
        			var image = 'http://upload.wikimedia.org/wikipedia/commons/5/52/Small_red_circle.png';
        			var marker = new google.maps.Marker({
            			map: map,
            			position: results[0].geometry.location,
            			icon: image
        			});
      			} else {
        			alert("Error en geocode por la siguiente razon: " + status);
      			}
			});
		}
		
		$(document).ready(function(){
			geocoder = new google.maps.Geocoder();
			$("#btn_geocode").click(function(){
				geocodeAddress();
			});
		});
  	</script>
{% endblock %}
{% block layout_content %}
	<h2>Google Maps / Marker</h2>
	<div class="container">
	<div class="tabbable">
	  	<ul id="myTab" class="nav nav-tabs">
	  		<li><a href="#demo" data-toggle="tab" id="demoTab">Demo</a></li>
	  		<li><a href="#descripcion" data-toggle="tab">Descripción</a></li>
		    <li><a href="#codigo" data-toggle="tab">Código</a></li>
	    </ul>
  		<div class="tab-content" id="myTabContent">
  			 <div id="descripcion" class="tab-pane">
  			 	<h4>Para hacer el geocode se necesita:</h4>
  			 	<ul>
  			 		<li>Crear el mapa.</li>
  			 		<li>Crear el marker y ponerlo en el mapa.</li>
  			 	</ul>
  			 	<h4>Links</h4>
  			 	<p><a href="https://developers.google.com/maps/documentation/javascript/reference#Marker" target="_blank">Marker</a></p>
  			 	<p><a href="https://developers.google.com/maps/documentation/javascript/reference#MarkerOptions" target="_blank">Marker Options</a></p>
			</div>
			<div id="demo" class="tab-pane">
				<div id="map_canvas"></div>
	  			<div>
	    			<input id="address" type="text" value="Glorieta minerva, Guadalajara, Jalisco, México" style="width:600px;"/>
	    			<input type="button" value="Geocode" id="btn_geocode" class="btn btn-primary">
	  			</div>
	        </div>
	        <div id="codigo" class="tab-pane">
				<pre class="brush: js">
&lt;script src="https://maps.googleapis.com/maps/api/js?sensor=false"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
var map;
var geocoder;
  
function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(20.674346933909842,-103.38696956634521);
    var mapOptions = {
        zoom: 15,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
}

function geocodeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
                                                                        
            var image = 'http://upload.wikimedia.org/wikipedia/commons/5/52/Small_red_circle.png';
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                icon: image
            });
        } else {
            alert("Error en geocode por la siguiente razon: " + status);
        }
    });
}
google.maps.event.addDomListener(window, 'load', initialize);
&lt;/script&gt;
				</pre>		
			</div>
		</div>
	</div>
</div>  		    		
{% endblock %}